.hero {
  background: url("/assets/images/neonbrand-211919-unsplash.jpg") no-repeat center center;
  background-size: cover;
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  color: #fff;

  .inner {
    background: rgba(0, 0, 0, 0.5);
    min-height: 500px;
    padding: 1em 5em;

    h2 {
      font-size: 5vw;
      margin-top: 1em;
    }

    h3 {
      font-size: 2vw;
    }

    .sso {
      font-size: 1.5em;
      padding: 0.5em 1em;
      //padding: 0.3em 1em 0.5em 1em;
      margin-top: 1.5em;
      margin-bottom: 1.5em;

      .fab {
        margin-top: -0.1em;
      }
    }


  }
}


.benefits {
  padding-top: 1em;
  padding-bottom: 2em;

  .icon-wrapper {
    display: block;
    font-size: 3em;
    line-height: 1.5em;
  }
}

.footer-cta {
  margin: 10em auto 10em auto;

  .sso {
    text-decoration: none;
    font-size: 3em;
    padding: 0.5em 0.7em 0.4em 0.7em;
  }
}


@media (max-width: 600px) {
  .hero .inner {
    h2 {
      font-size: 35px;
      text-align: center;
    }

    h3 {
      font-size: 22px;
      text-align: center;
    }

    .sso {
      margin-left: auto;
      margin-right: auto;
      font-size: 20px;
      padding: 1vw 3vw;
    }
  }
  .benefits {
    padding: 0 2em;

    .icon-wrapper {
      font-size: 1.5em;
      line-height: 1.5em;
    }

    h3 {
      font-size: 25px;
    }
  }
  .footer-cta {
    margin: 10em auto 10em auto;

    .sso {
      font-size: 1.5em;
      padding: 0.5em 0.7em 0.4em 0.7em;
    }
  }

}

.cards {
  margin-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

$padding: 1em;

.top10 {
  .single {
    padding-top: $padding;
    padding-bottom: $padding;
  }
}

.latest-authors {
  .single {
    padding-top: $padding;
    padding-bottom: $padding;
  }
}

.block-with-text {
  display: block;
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
